*{
    margin: 0;
    padding: 0;
    /*box-sizing: content-box;*/
}

body {

  
    font-family: 'Roboto', 'Roboto slab', arial, helvetica, sans-serif ;
    font-weight: normal; 
    line-height: 1.5;
    background-color: whitesmoke;
    
    }

header, main, footer{
    max-width: 95%;
}
header{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2B705;
    filter: drop-shadow(0 10px 2px #D9325E );
    border-radius: 10px;
    height: auto;
 
}

header h1{
    color:#030A8C;
    text-align: center;
}

main{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3%;
    background-color: #DFF2EF;
    margin: 0 auto;
}
.behanceimg, .appleimg, .navyfedimg{
   max-width: 95%;
}

.repetiton, .contrast, .thirds{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}



a{
    color:#D9325E;
}
a:link {
    text-decoration: none;   
}



footer{
    background-color: #F2B705;
    filter: drop-shadow(0 10px 2px  #6379F2);
    border-radius: 10px;
    /*bottom: 0;*/
    margin: 0 auto;

}



footer p, #updated{
    color:#030A8C;
    font-size: 90%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}