:root {
    /* change the values below to your colors from your palette */
    --primary-color:  #103E65  ;
    --secondary-color: #2889CA ;
    --accent1-color: #F57F44 ;
    --accent2-color: #FEC111;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "DM Serif Display", serif;
    --paragraph-font: 'Work Sans', sans-serif, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #0B2034;  /* headlines on a white background */ 
    --headline-color-on-color: #EEF6FC; /* headlines on a colored background */ 
    --paragraph-color-on-white: #0B2034; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #EEF6FC; /* paragraph text on a colored background */ 
    --paragraph-background-color: #fff;
    --nav-link-color: #EEF6FC  ;
    --nav-background-color: #103E65 ;
    --nav-hover-link-color: #0B2034 ;
    --nav-hover-background-color: #FEC111;;
  }

*{
    margin: 0;
    box-sizing: border-box;
}

body {

    max-width: 100vh;
    font-family: var(--paragraph-font);
    font-weight: normal; 
    line-height: 1.5;
    margin: 0 auto;
    }

header, main, footer{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
}
header{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    height: auto;
}

header h1{
    color:var(--headline-color-on-color);
    font-family: var(--heading-font);
    text-align: center;
    font-size: 1.5em;
    font-weight:300;
    max-width: 75%;
    margin: 0;
}

header h2{
    color:var(--headline-color-on-color);
    text-align: center;
    padding-bottom: 10px;
    font-weight: 300;
}

nav{
    margin:0 auto;
    border-top: solid #EEF6FC;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    background-color: var(--nav-background-color);
      
}
nav ul{
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;

}
nav ul li a{
    display:block;
    text-align: center;
    padding: 10px;
    color: var(--nav-link-color);
    font-weight: bold;
}

a:link {
    text-decoration: none;
}
a:hover{
    color: var(--nav-hover-link-color)
}
nav li:hover{
    background-color: var(--nav-hover-background-color);   
}
.active{
    color: var(--nav-hover-link-color);
    background-color: #F57F44;
    padding: 10px
}

.active:hover{
    color: var(--nav-link-color);
}

main{
    padding: 5%;
    max-width: 85%;
    margin: 0 auto;
}

main h2{
    color: var(--headline-color-on-white);

    /*font-weight: 200;*/
    text-align: center; 
    
}
main h3{
    color: var(--headline-color-on-white);
    /*font-weight: 100;*/
    text-align: left; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

hr{
    height: 2px;
    margin: 15px 0;
    background-color: var(--accent1-color);
}

p{
    padding: 5px;
    font-family: var(--paragraph-font);
    font-weight: 400;
    color: var(--paragraph-color-on-white);
    max-width: 95%;
    text-align: left;
    align-items: center;
    margin: 0 auto;
}

.logoimg{
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 2%;
  
}

p b{
    font-weight: bolder;
}
.persona1, .persona2{
    padding: 20px;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.persona1 .johnphoto, .persona2 .annaphoto{
    
    max-width: 100%;
    padding: 10px;
    
}

.persona1 h4, .persona2 h4{
    max-width: 85%;
    text-align: left;
    padding: 10px 25px 10px;

}

.userlist1, .userlist2{
    text-align: left;
    margin-left: 0;
    list-style-position: outside;
}

.header-on-white, .para-on-white{
    padding: 10px;
}
.header-on-color{
    background-color:#2889CA;
    color:#fff;
    padding: 10px;
    font-weight: 300;
    width: 95%;
    margin: 0 auto;
}

.para-on-color{
    background-color: var(--accent2-color);
    color: var(--paragraph-color-on-white);
    padding: 10px;
}


.color-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.color1, .color2, .color3, .color4, .color5, .color6{
    display: block;
    margin: 0 auto;
    padding: 5px;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
   
}

.color1{
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-color);
}

.color2{
    background-color: var(--secondary-color);
    color: var(--paragraph-color-on-color)
}

.color3{
    background-color: var(--accent1-color);
    color: #0B2034
}

.color4{
    background-color: var(--accent2-color);
    color:#0B2034;
}


.color5{
    color: var(--paragraph-color-on-white);
    background-color: #EEF6FC;
}

.color6{
    background-color: var(--headline-color-on-white);
    color: var(--paragraph-background-color);
}


.sitemap{
    max-width: 100%;
}


footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--nav-background-color);

    margin: 0 auto;
}



footer p, #updated{
    color: var(--headline-color-on-color);
    font-size: 90%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0 auto;
}