:root{
    --heading-font: 'DM Serif Text', serif;
    --paragraph-font: 'Work Sans', sans-serif;
}

body{
    background-color: #283618;
    line-height: 1.5;
    margin: 0 auto;
}


header{
    color: #fefae0;
    text-align: center;
    font-family: var(--heading-font)
}

.cards{
    display: block;
}


h2{
    color: #DDA15E;
    padding: 20px;
    margin-bottom: 0;
    font-family: var(--heading-font);

}

.cards p{
    color: #fefae0;
    padding: 0px 20px 20px;
    margin: 0;
    font-family: var(--paragraph-font);
    gap: 10px;
}

section{
    background-color: #606C38;
    max-width: 350px;
    border-radius: 10px;
    text-align: center;
    margin: 10px 10px;
    
}

img{
    justify-content: center;
    padding: 0;
    width: 250px;
    height: auto;
}

footer{
    font-size: 1.5rem;
    font-family: var(--paragraph-font);
    color:#fefae0;
    background-color: #BC6C25;
    text-align: center;
    height: 10%;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;

}

@media only screen and (min-width: 35rem){
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    
    section{
        background-color: #606C38;
        max-width: 375x;
        border-radius: 10px;
        text-align: center;
        margin: 1% 1%;
        
    }
    
    img{
        padding: 20px 17px 20px;
        width: 275px;
        height: auto;
    }
}
