/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
:root {
    /* change the values below to your colors from your palette */
    --primary-color:  #103E65  ;
    --secondary-color: #7BBBE5 ;
    --accent1-color: #F57F44 ;
    --accent2-color: #FEC111;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "DM Serif Display", serif;
    --paragraph-font: 'Work Sans', sans-serif, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #0B2034;  /* headlines on a white background */ 
    --headline-color-on-color: #EEF6FC; /* headlines on a colored background */ 
    --paragraph-color-on-white: #0B2034; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #EEF6FC; /* paragraph text on a colored background */ 
    --paragraph-background-color: #fff;
    --nav-link-color: #EEF6FC  ;
    --nav-background-color: #103E65 ;
    --nav-hover-link-color: #0B2034 ;
    --nav-hover-background-color: #FEC111;;
  }


/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body{
    font-family: var(--paragraph-font);
    font-weight: normal; 
    line-height: 1.5;
    margin: 0 auto;
  
}
/*banner properties*/
.banner {
    display: none;
    width: 100%;
    background-color: var(--accent2-color);
    color: var(--paragraph-color-on-white);
    padding: 0.7em;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
  }
  
  .banner.toggleOn {
    display: block;
  }
  
  #close-button {
    background-color: #EEF6FC;
    padding: 2px;
    border: 0;
    border-radius: 2px;
  }
  
  #close-button:hover {
    background-color: var(--nav-background-color);
  }
  
  #close-button:active {
    background-color: white;
  }
/*header properties*/
header, main, footer{
    padding: 3%;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
}
header #logoimage {
  max-width: 150px;
}
.social{
    display:flex;
    justify-content: end;
    align-items: end;
}
.title-box{
    display: none;
}

.date{
    text-align: center;
    background-color: var(--secondary-color);
    padding-top: 2px;
    padding-bottom: 2px;
    
}
/*navigation properties*/
nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--paragraph-color-on-color);
}
nav{
    background-color: var(--primary-color);
}


nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--paragraph-color-on-color);
    border-top: 1px solid rgba(219, 233, 248, 0.5);
    
}
nav ul li.active a {
    background-color: var(--accent1-color) ;
    color: #fff
}

nav ul li a:hover{
    background-color: var(--accent2-color);
    color: var(--paragraph-color-on-white)

}

nav ul {display: none;}

nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1){
    display: block;
}

#hamburgerBtn span:nth-child(2){
    display: none;
}

#hamburgerBtn.open span:nth-child(1){
    display: none;
}

#hamburgerBtn.open span:nth-child(2){
    display: block;
}

/*main properties*/
main{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.hero, .event, .weather, .news, .join, .weather{
    height: 230px;
    background-color: whitesmoke;
}
main p{
    padding: 10px;
    padding: 0 10px 0 10px;
    line-height: 1;
}
main h2{
    padding: 0 10px 0 10px;
    font-family: var(--heading-font);
    letter-spacing: 0.3mm;
    line-height: 1;
}

/*1. Hero*/
.hero{
    position: relative;

}
.hero-img{
    display: none;
    
}

.hero-fields{
    object-fit: cover;
    width: 100%; height: 100%;
}
#joinBtn{
    position: absolute;
    top: 50%;
    right: 39%;
    width:80px;
    font-size: 2rem;
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
    border-radius: 5px;
    border: 0;
    filter: drop-shadow(0 5px 5px )
}
#joinBtn a{
    text-decoration: none;
    color:var(--headline-color-on-white);
}

#joinBtn:hover{
    background-color: var(--accent1-color);
}
#joinBtn a:hover{
    color: var(--paragraph-color-on-color);
}
/*2. Event*/
.event{
    
    display: block;
    overflow: auto; 
    /*justify-content: center;*/
}
.event-img{
    margin-top: 12px;
    max-height: 80%;
    padding: 10px;
    float: left;    
}
.text-box > h2, h3{
    line-height: 1;
    letter-spacing: 0.3mm;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}
/*.event p*/

/*3 Weather*/
.weather{
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    background-color: var(--secondary-color);

}
.weather img{
    margin-left: 10%;
    grid-column: 1/2;
    grid-template-rows: 1/2;
    padding: 10px;
    max-height: 170px;
    max-width: 170px;
    filter: drop-shadow(5px 5px 6px  #2d8cf1);
}

.weather h2{
    font-family: var(--heading-font);
    letter-spacing:0.5mm ;
}
.weather p{
    font-size: 2em;
    grid-column: 2/3; 
}

.weather .text-box{
    color: #fff;
}

/*4. News*/

/*5. Join*/
.join{
    display: none;
}

/*6.Spotlight*/
.spotlights{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3%;
    background-color: whitesmoke;
}
.spotlight1, .spotlight2{
    display: flex;
    overflow-y: auto;
    background-color: #eee;
    height: 45%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.spotlights img{
    object-fit: cover;
    width: auto; height: 100%;
}
.spotlight3{
    display: none;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-color);
    text-align: center;
}

footer h2{
    font-family: var(--heading-font);
    font-size: 1.4em;
    font-weight: 300;
    margin: -1;
    
}


footer a, a:visited{
    color: var(--paragraph-background-color)
}

.authorBar{
    border-top: 2px solid rgba(219, 233, 248, 0.5);
    font-size: small;
}


