@media only screen and (min-width: 760px){
   
    header, main, footer{
        max-width: 85%;
    }

    header{
        margin: 0 auto;
        column-gap: 3%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #F2B705;
        filter: drop-shadow(10px 10px 0 #D9325E );
        border-radius: 10px;
        height: 200px;
    
    }

    header h1{
        color:#030A8C;
        text-align: center;

    }
    header .myphoto{
        padding-top: 0;
        width: 120px;
        border-radius: 5px;  
        filter: drop-shadow(6px 6px 0 #D9325E );

    }

    main{
        /*margin: 0 auto;*/
        margin: 42px 15% 38px 15%
    }

    #pagetitle{
        margin-bottom: 18px;
    }

    hr{
        margin: 0;
    }
    #lessons{
        /*margin-bottom: 38px;*/
        font-size: 1.2em;
        color:#030A8C ;
    }

    a{
        color:#D9325E;
    }
    a:link {
        text-decoration: none;

    }


    footer p, #updated{
        text-align: center;
    }
}
    