body {
    /*background-color:#F2F2F0;*/

    font-family: 'Roboto', 'Roboto slab', arial, helvetica, sans-serif ;
    font-weight: normal; 
    font-size: 24px;
    line-height: 1.5;
    background-color: cornsilk;
    }

header, main, footer{
    max-width: 1280px;
}
header{
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #F2B705;
    filter: drop-shadow(10px 10px 0 #D9325E );
    border-radius: 10px;
    height: 200px;
    /*margin-bottom: 1%*/
}

header h1{
    padding-left: 5%;
    color:#030A8C;
    text-align: right;
    
}
header .myphoto{
    max-width: 120px;
    border-radius: 5px;
    margin-left: 25%;
    filter: drop-shadow(5px 5px 0 #D9325E );
    
}

main{
    margin: 0 auto;
    margin: 42px 25% 38px 25%
    
}

#pagetitle{
    color: #030A8C;
}

#lessons{
    /*margin-bottom: 38px;*/
    font-family: 'Roboto Slab', serif;;
    line-height: 2;
    color:#030A8C ;
}

a{
    color:#D9325E;
}
a:link {
    text-decoration: none;
    
}

footer{
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    line-height: 0;
    color: #030A8C;
    background-color: #F2B705;
    filter: drop-shadow(10px 10px 0  #6379F2);
    border-radius: 10px;
    height: 150px;

}

footer h3{
    text-align: center;
}


footer p, #updated{
    font-family: 'Roboto Slab', serif;
    text-align: center;

}